<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Subscriptions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>

<body>
<div class="container">

    <h2 class="form-signin-heading" align="center">Register subscription</h2>

    <div class="row col-md-12 table-responsive">

        <form method="POST" th:action="@{/subscriptions}" th:object="${subscriptionDto}">
            <p>
                <label for="name">Name: </label>
                <input name="name" type="text" class="form-control" th:field="*{name}"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('name')}"
                      th:errors="*{name}">Name Error</span>
            </p>
            <p>
                <label for="email">Email: </label>
                <input name="email" type="text" class="form-control" th:field="*{email}"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('email')}"
                      th:errors="*{email}">Email Error</span>
            </p>

            <button class="btn btn-primary">Submit subscription</button>

            </p>

            <table id="customerTable" class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="userSubscription : ${userSubscriptionsDto}">
                        <td th:text="${userSubscription.name}">Subscriber name</td>
                        <td th:text="${userSubscription.email}">Subscriber e-mail</td>
                    </tr>
                </tbody>
            </table>
        </form>

        <form method="POST" th:action="@{/logout}" id="logoutForm">
            <button class="btn btn-primary">Logout</button>
        </form>
    </div>
</div>
</body>
</html>